apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-users
spec:
  replicas: {{ .Values.replicas.users }}
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: {{ .Values.images.users }}
          ports:
            - containerPort: 8080
          envFrom:
          - configMapRef:
              name: app-config